[Unit]
Description=Trigger Raspberry Pi shutdown with GPIO push button
After=network.target

[Service]
User=root
Group=root
Restart=always
ExecStart={{ pi_shutdown_executable }}

[Install]
WantedBy=multi-user.target

